.dropdown-menu#topnav {
    left: unset;
    position: absolute;
    float: right;
    right: 0;
}

html[device="mobile"] .navbar{
    top: -1px;
    
}

html[device="pc"] .app{
    margin-top: 85px;
}


.loadingicon{
    width: 20px;
    height: 20px;
    background-color: green;
    border-radius: 50%;

}
