.dropdown-menu#topnav {
    left: unset;
    position: absolute;
    float: right;
    right: 0;
}

html[device="mobile"] .navbar{
    top: -1px;
    
}

html[device="pc"] .app{
    margin-top: 85px;
}


.loadingicon{
    width: 20px;
    height: 20px;
    background-color: green;
    border-radius: 50%;

}

.flex.home{
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    flex-direction:row;
  }
  
  .col-item{
    min-height:80px;
    position:relative;
    padding:5px;
    background-color:#e5e5e5;
    border-radius:5px;
    box-shadow: 1px 2px 5px rgba(0,0,0,.2);
    margin:5px;
  }
  html[device="mobile"] .col-item{
    min-height: 100px;
}

  .col-item .tag{
    left:10px;
    position:absolute; 
  }
  .col-item .variation{
    position:absolute;
    right:10px;
  }
  .col-item .price{
    position:absolute;
    bottom:10px;
      left: 10px;
    display:inline;
  }
  .col-item .cotacao{
    display:inline;
  }
  .col-item .lucro{
    position:absolute;
    bottom: 10px;
    right: 10px;
  }
  html[device="pc"] .rootContent{
    margin-top: 100px !important;
  }
  html[device="mobile"] .rootContent{
    margin-top: 100px !important;
    margin-bottom: 100px !important;
  }
  html[device="mobile"] .fixed-action-btn{
    position: absolute !important;
  }

  html[device="mobile"] .fixed-action-btn.active{
    height: 500px !important;
    bottom: 0px !important;
    right: 10px !important;
    left: unset !important;
    position: fixed !important;
    width: 100%;
  }
  html[device="mobile"] .fixed-action-btn .btnFlutuante{
    right: 10px;
    bottom: 5px;
    position: fixed;
  }
  html[device="mobile"] .fixed-action-btn.active .btnFlutuante{
    position: fixed;
  }
  
  html[device="mobile"] .fixed-action-btn ul.active , html[device="mobile"] .fixed-action-btn ul{
    position: absolute !important;
    right: 10px !important;
    bottom: 0px;
    left: unset !important;
    height: 300px !important;
  }
  html[device="mobile"] .fixed-action-btn ul li{
    margin-right: 0 !important;
  align-content: center;
    align-items: center;
  }

  .popFloating{
    background-color: white;
    /* width: 100%; */
    box-shadow: 1px 1px 1px 0.5;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }