<div class="loading-overlay">
<div class="preloader-wrapper active">
    <div class="spinner-layer spinner-blue-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div>
      <div class="gap-patch">
        <div class="circle"></div>
      </div>
      <div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
</div>

<style>
.loading-overlay{
  z-index: 9999;
    opacity: 0;
    display: none;
    position: absolute;
    background-color: rgba(0, 0,0,0.6);
    width: 100%;
    height: 100%;
}

.loading-overlay.Abrir{
  z-index: 99999999;
  opacity:1;
  display: block;
}
.preloader-wrapper{
    position: relative;
    top:45%;
    left: 45%;
}
</style>