<style>
#loginpage{
    height: 100%;
    background-color: #333;
    position: fixed;
    width:100% !important;
    max-width: 100% !important;
}
#boxlogin{
    height: 100%;
    position: fixed;
    /* margin-bottom: 0; */
    /* bottom: 0; */
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    margin: 0;
}
#boxform{
    height: 100%;
    width: 100%;
    padding-top: 60px !important;
    position: relative;
    top: 50%;
    transform: translate(-50%,-50%);
    margin-top: 0px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-bottom: 0px;
    left: 50%;
}

#boxmask{
    position: relative;
    height: 100%;
}

.view{
    position: relative;
    height: 100%;
}
</style>
<!-- Grid container -->
<div class="container" id="loginpage">

    <!--Grid row-->
    <div class="row d-flex justify-content-center" id="boxlogin">
    
      <!-- Mobile box -->
      <div class="mobile-box view">
        <div class="mask gradient-mask" id="boxmask">
    
          <!-- Navbar -->
          <!-- Navbar -->
         <!-- Content -->
          <form class="mt-5 p-4 text-center animated fadeIn" id="boxform">
    
            <div class="md-form form-md">
              <input type="email" id="email-input" class="form-control form-control-lg text-white">
              <label for="email-input">E-mail</label>
            </div>
    
            <div class="md-form form-md">
              <input type="password" id="password-input" class="form-control form-control-lg text-white">
              <label for="password-input">Password</label>
            </div>
    
            <a href="">Forgot password?</a>
    
            <!-- Sign in button -->
            <button class="btn btn-outline-white btn-rounded btn-block waves-effect my-4 waves-light z-depth-0 loadingcontent" type="submit">Sign
              in</button>
    
            <!-- Sign in button -->
            <button class="btn btn-outline-white btn-rounded btn-block my-4 waves-effect waves-light z-depth-0" type="submit"><i
                class="fab fa-facebook-f mr-2" id="facebooklogin"></i>Facebook</button>
    
            <!-- Register -->
            <p class="text-white">Not a member?
              <a target="_blank" href="https://mdbootstrap.com/snippets/jquery/ascensus/413416/side" class="font-weight-bold">Register</a>
            </p>
    
    
          </form>
          <!-- Content -->
    
        </div>
      </div>
      <!-- Mobile box -->
    
    
    
    
    </div>
    <!--Grid row-->
    
    </div>
    <!-- Grid container -->


    <script>

$('#boxform').submit(function(e){
          e.preventDefault();

          var email = $("#email-input").val();
          var password = $("#password-input").val();
          console.log({email,password});
          $.ajax({
            method:'POST',
            dataType: 'JSON',
            data:{username:email,password:password,form:'logar'},
            url:'functions/Login.func.php',
            beforeSend: function(){
              $('.loading-overlay').addClass('Abrir');
              sleep(1500).then(()=>{
                $('.loading-overlay').removeClass('Abrir');
              });
            },
            success: function(response){
              if(response.success == true){
								console.log(response);
                $(location).attr('href','index.php');
							}else{
								$('.username, .senha').css({'border': '1px solid #00b388'});
									$('.face.front #email, .face.front #senha').css({'border': '1px solid red'});
                  $('.username .input-group-addon,.senha .input-group-addon').css({'color': 'red'});
                  
                $('.modal-body p').html('Usuário ou Senha incorreto');
                sleep(1500).then(()=>{
                $('#frameModalBottom').modal();});
							}
            }
          });

        });

    </script>