<div class="mask rgba-black-strong h-100" style="width: 100%;
position: absolute;
top: 0;">
    <div class="container py-5">
      <div class="row">
        <div class="col-xl-5 col-lg-6 col-md-10 col-sm-12 mx-auto">
  
          
          <!-- Rotating card -->
          <form class="card-wrapper" id="login">
            <div id="my-card" class="card card-rotating text-center">
  
              <!-- Front Side -->
              <div class="face front">
                <div class="card-body">
  
                  <!-- Header -->
                  <div class="form-header primary-color">
                    <h3 class="font-weight-500 my-2 py-1"><i class="fas fa-sign-in-alt"></i> Log in</h3>
                  </div>
  
                  <!-- Login Form -->
                  <div class="md-form">
                    <i class="fas fa-envelope prefix grey-text d-flex"></i>
                    <input type="email" id="email" name="email" class="form-control validate">
                    <label for="email" class="d-flex">Your email</label>
                  </div>
  
                  <div class="md-form">
                    <i class="fas fa-lock prefix grey-text d-flex"></i>
                    <input type="password" name="password" id="password" class="form-control validate">
                    <label for="password" class="d-flex">Your password</label>
                  </div>
  
                  <div class="d-flex justify-content-between">
                    <!-- Triggering button -->
                    <a class="rotate-btn text-primary" tabIndex="-1" data-card="my-card">create account</a>
                    <a href="#" class="grey-text" tabIndex="-2">forgot password?</a>
                  </div>
                  <div class="text-center">
                    <button class="btn primary-color white-text btn-lg">Login</button>
                  </div>
                  <!-- Login Form -->
  
                </div>
              </div>
              <!-- Front Side -->
  
              <!-- Back Side -->
              <div class="face back">
                <div class="card-body">
  
                  <!-- Header -->
                  <div class="form-header primary-color">
                    <h3 class="font-weight-500 my-2 py-1"><i class="fas fa-plus"></i> Create Account</h3>
                  </div>
                                  <form method="POST" action="#whereeverYouWant">
                    <!-- Register Form-->
                    <div class="md-form">
                      <i class="fas fa-envelope prefix grey-text d-flex"></i>
                      <input type="email" id="email" name="email" class="form-control validate">
                      <label for="email" class="d-flex">Your email</label>
                    </div>
  
                    <div class="md-form">
                      <i class="fas fa-lock prefix grey-text d-flex"></i>
                      <input type="password" id="password" name="password" class="form-control validate">
                      <label for="password" class="d-flex">Your password</label>
                    </div>
                    <div class="md-form">
                      <i class="fas fa-lock prefix grey-text d-flex"></i>
                      <input type="password" id="password2" name="password2" class="form-control">
                      <label for="password2" class="d-flex">Confirm password</label>
                    </div>
  
                    <div class="d-flex justify-content-end">
                      <!-- Triggering button -->
                      <a class="rotate-btn text-primary" data-card="my-card" tabIndex="-3">back to login</a>
                    </div>
  
                    <div class="text-center">
                      <button type="sumbit" class="btn primary-color white-text btn-lg waves-effect">Create account</button>
                    </div>
                    <!-- Register Form-->
                                  </form>
                </div>
              </div>
              <!-- Back Side -->
  
            </div>
          </form>
          <!-- Rotating card -->
  
          
        </div>
      </div>
    </div>
  </div>

  <script>

      $(document).ready(function(){

        $('.rotate-btn').click(function(){
            $('#my-card').toggleClass('flipped');
        });

        $("#password").on("focusout", function () {
        if ($(this).val() != $("#password2").val()) {
            $("#password2").removeClass("valid").addClass("invalid");
        } else {
            $("#password2").removeClass("invalid").addClass("valid");
        }
        });

        $("#password2").on("keyup", function () {
        if ($("#password").val() != $(this).val()) {
            $(this).removeClass("valid").addClass("invalid");
        } else {
            $(this).removeClass("invalid").addClass("valid");
        }
        });


        $('#login').submit(function(e){
          e.preventDefault();

          var email = $(".face.front #email").val();
          var password = $(".face.front #password").val();
          console.log({email,password});
          $.ajax({
            method:'POST',
            dataType: 'JSON',
            data:{username:email,password:password,form:'logar'},
            url:'functions/Login.func.php',
            beforeSend: function(){
              $('loading-overlay').addClass('Abrir');
              sleep(1500).then(()=>{
                $('loading-overlay').removeClass('Abrir');
              });
              console.log('loading');
            },
            success: function(response){
              if(response.success == true){
								$(location).attr('href','index.php');
							}else{
								$('.username, .senha').css({'border': '1px solid #00b388'});
									$('.face.front #email, .face.front #senha').css({'border': '1px solid red'});
									$('.username .input-group-addon,.senha .input-group-addon').css({'color': 'red'});
                  $('.modal-body p').html('Usuário ou Senha incorreto');
                $('#frameModalBottom').modal();
								
							}
            }
          });

        });


      });
     
  </script>